# these are the supported pillars with their defaults

java_home: /usr/lib/jvm/java-7-openjdk-amd64
zookeeper:
    version: 3.4.5+dfsg-1
    uid: 5000
    gid: 5000
    config:
      data_dir: /var/lib/zookeeper/data
      port: 2181
      jmx_port: 2183
      snap_count: None
      snap_retain_count: 3
      purge_interval: None
      max_client_cnxns: None
      max_perm_size: 128
      max_heap_size: 1024
      initial_heap_size: 256
      jvm_opts: None
      log_level: INFO
